{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static './css/style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="header">
        <div class="container">
         <div class="desktop">
          <a href="{% url 'homepage' %}">Main</a>
          <a href="{% url 'aboutpage' %}">About</a>
          <a href="#">Contact</a>
         </div>
         <a href="#" class="burger-menu-button" onclick="burgerMenuAction()"><i class="fa-solid fa-bars"></i></a>
        <div id="mobile" style="display: none;">
          <a href="{% url 'homepage' %}">Main</a>
          <a href="{% url 'aboutpage' %}">About</a>
          <a href="#">Contact</a>
        </div>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <script src="{% static './js/script.js' %}"></script>
    <div class="footer">
            <p>© 2023 News Portal. All rights reserved.</p>
    </div>
</body>
</html>
